# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node modules
node_modules/

# Production build
dist/
dist-ssr/
*.local

# Environment files
.env
.env.local
.env.*.local

# Vite cache
.vite/

# Editor folders
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store

# OS metadata files
Thumbs.db
ehthumbs.db
*.swp
*.swo

# VS project files
*.suo
*.ntvs*
*.njsproj
*.sln

